<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Carl Randall Github Package Source" value="https://nuget.pkg.github.com/carl-randall/index.json" />		
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>	
	<packageSourceCredentials>		
		<Carl_Randall_Github_Package_Source>
			<add key="Username" value="carl-randall" />
			<add key="ClearTextPassword" value="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" />
		</Carl_Randall_Github_Package_Source>		
	</packageSourceCredentials>
</configuration>
